/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

img {
  display: block;
  cursor: pointer;
  max-width: 100%;
  object-fit: cover;
}

.conteiner {
  width: 1440px;
  height: auto;
  padding: 36px 150px;
}

.group-form {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 32px;
}

.input {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  opacity: 0px;
  background-color: #ffffff;
  outline: none;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  padding: 8px 16px;
  color: #2e2f42;
}

.input:hover {
  border: 1px solid #000000;
}

.input:active {
  border: 1px solid #4e75ff;
}

.style-submit {
  width: 75px;
  height: 40px;
  padding: 8px auto;
  border-radius: 8px;
  opacity: 0px;
  background-color: #4e75ff;
  border: none;
  outline: none;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
}

.style-submit:hover {
  background-color: #6c8cff;
}
/* ==================================================================================== */
/*Spinner*/
.loader {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  text-align: center;
  animation: blink 1.5s infinite; /* Анімація для ефекту */
}

/* Анімація блимання */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
/* end Spinner*/

/* ============================================================================================== */
/* render-function */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
}

.gallery-item {
  border: 1px solid #808080;
}

.gallery-image {
  width: 360px;
  height: 200px;
}
.inform {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-content: space-around;
}

.inform-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #2e2f42;
}

.inform-dan {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #2e2f42;
}
/* ======================================================== */
/* стилізація модального вікна */

div.sl-overlay {
  background-color: #2e2f42cc;
}

.sl-wrapper button.sl-close {
  color: #ffffff;
}

.sl-wrapper .sl-navigation button.sl-prev {
  color: #ffffff;
}

.sl-wrapper .sl-navigation button.sl-next {
  color: #ffffff;
}

.sl-wrapper div.sl-counter {
  color: #ffffff;
}

/* =================================================== */
/* Кнопка Load more */

.load-more {
  display: block;
  width: 125px;
  height: 40px;
  padding: 8px auto;
  border-radius: 8px;
  opacity: 0px;
  background-color: #4e75ff;
  border: none;
  outline: none;
  margin-top: 32px;
  margin-left: 526px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
}

.load-more:hover {
  background-color: #6c8cff;
}
